header {
    max-width: 1490px;
    /*Verificar alocação do background e imagem principal*/
    background: transparent linear-gradient(0deg, #1C1C1C00 0%, #1C1C1C80 100%) 0% 0% no-repeat padding-box;
}

header>section:first-child {
    display: flex;
    justify-content: space-between;
    font: normal normal normal 14px 'PlusJakartaSans_regular';
    color: #fff;
    padding: 9px 0;
    gap: 250px;
}

.bold-span {
    font-weight: bold;
}

.header-data,
.header-currency,
.header-currency>div {
    display: flex;
    align-items: center;
    gap: 8px;
}

.header-data {
    gap: 50px;
}

.header-currency {
    gap: 32px;
}

.header-currency>div>img {
    width: 9px;
    height: 7px;
}

hr {
    border-color: #0c0505;
    max-width: 1200px;
}

header>nav {
    display: flex;
    margin-top: 29px;
    align-items: center;
    justify-content: center;
}

nav>form>input {
    background: transparent;
    outline: none;
    border: none;
}

nav>form>input::placeholder {
    color: white;
    font: normal normal bold 16px 'PlusJakartaSans_bold';
}

nav>form>img {
    width: 24px;
    height: 24px;
    position: relative;
    top: 5px;
    right: 5px;
}

.header-logo>img {
    width: 224px;
    height: 46px;
    margin-bottom: 30px;
    /*Verificar aplicação*/
}

.social-network {
    display: flex;
    gap: 12px;
    margin-bottom: 30px;
    /*Verificar aplicação*/
}

.social-network>img {
    width: 34px;
    height: 34px;
}

.breadcrumb {
    text-align: center;
    margin-top: 22px;
}

.breadcrumb>a {
    text-decoration: none;
    color: #fff;
    font-size: 22px;
}

.breadcrumb>img {
    width: 24px;
    height: 28px;
}

.cinema {
    font-weight: bold;
}