header {
    width: 100%;
    background: transparent linear-gradient(0deg, #1C1C1C00 0%, #1C1C1C80 100%) 0% 0% no-repeat padding-box;
}

header>section:first-child {
    display: flex;
    justify-content: space-between;
    font: normal normal normal 14px 'PlusJakartaSans_regular';
    color: #fff;
    padding: 9px 0;
    gap: 250px;
}

.bold-span {
    font-weight: bold;
}

.header-data,
.header-currency,
.header-currency>div {
    display: flex;
    align-items: center;
    gap: 8px;
}

.header-data {
    gap: 50px;
}

.header-currency {
    gap: 32px;
}

.header-currency>div>img {
    width: 9px;
    height: 7px;
}

hr {
    border-color: #0c0505;
    max-width: 1200px;
}

header>nav {
    display: flex;
    margin-top: 29px;
    align-items: center;
    justify-content: center;
}

nav>form>input {
    background: transparent;
    outline: none;
    border: none;
}

nav>form>input::placeholder {
    color: white;
    font: normal normal bold 16px 'PlusJakartaSans_bold';
}

nav>form>img {
    width: 24px;
    height: 24px;
    position: relative;
    top: 5px;
    right: 5px;
}

.btn-burger {
    display: none;
}

.header-logo>img {
    width: 224px;
    height: 46px;
    margin-bottom: 30px;
    margin-left: -60px;
}

.social-network {
    display: flex;
    gap: 12px;
    margin-bottom: 30px;
}

.social-network>img {
    width: 34px;
    height: 34px;
}

.breadcrumb {
    text-align: center;
    margin-top: 22px;
}

.breadcrumb>a {
    text-decoration: none;
    color: #fff;
}

.breadcrumb>img {
    width: 24px;
    height: 28px;
}

.home {
    font: 22px 'PlusJakartaSans_regular';
}

.cinema {
    font: 22px 'PlusJakartaSans_bold';
}

.header-image {
    position: absolute;
    top: -40px;
    left: 0;
    right: 0;
    z-index: -1;
    text-align: center;
}

.header-image>img {
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.header-image>figcaption {
    text-align: center;
    font: normal normal normal 12px 'PlusJakartaSans_regular';
    letter-spacing: 0px;
    color: #575757;
}